<div class="section-header">
    <h3>Give a Dank!</h3>
</div>
<div class="card">
    <div class="card-body">
        <h6 class="card-title">Overview:</h6>
        <p>
            Giving a Dank is a great way of showing your appreciation for your team. It helps
            both you and the recipient recognize our own value and the values of others!
        </p>
    </div>
    <div class="card-body">
        <h6 class="card-title">Get Started:</h6>
        <div *ngIf="auth.isAuthenticated()">
            <form class="form-inline" (ngSubmit)="searchUser()" [formGroup]="searchUserForm">
                <input id="userInput" formControlName="userInput" class="form-control mr-sm-2" type="search" placeholder="Find a coworker" aria-label="Search">
                <datalist id="userSearchResults">
                    <option *ngFor="let user of searchResults" value="{{user.displayName}}"></option>
                </datalist>
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
        <div *ngIf="!auth.isAuthenticated()">
            <p>You need to log in to be able to search for coworkers and give a Dank.</p>
            <a
                class="btn btn-primary"
                routerLink=""
                (click)="auth.login()"
                >Log In</a
            >
        </div>
    </div>
</div>