<div class="container-fluid">
    <div id="row-primary" class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <app-danks-giving></app-danks-giving>
                </div>
            </div>
            <div id="row-leaderboards" class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="section-header">
                                <h3>Dank Leaderboards</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-top-danker [dankLeaders]="topDankers"></app-top-danker>
                        </div>
                        <div class="col">
                            <app-top-dankee [dankLeaders]="topDankees"></app-top-dankee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="section-header">
                <h3>Recent Danks</h3>
            </div>
            <div class="row" *ngFor="let dank of recentDanks">
                <app-danker-recents class="col" [dank]="dank"></app-danker-recents>                        
            </div>
        </div>
    </div>
</div>