<div class="container-fluid">
    <div id="row-primary" class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="section-header">
                        <h3>Give Danks!</h3>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title">Overview:</h6>
                            <p>
                                Giving Danks is a great way of showing your appreciation for your team. It helps
                                both you and the recipient recognize our own value and the values of others!
                            </p>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Get Started:</h6>
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Find a coworker" aria-label="Search">
                                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-leaderboards" class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div class="section-header">
                                <h3>Dank Leaderboards</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <app-top-danker [dankLeaders]="topDankers"></app-top-danker>
                        </div>
                        <div class="col">
                            <app-top-dankee [dankLeaders]="topDankees"></app-top-dankee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="section-header">
                <h3>Recent Danks</h3>
            </div>
            <div class="row" *ngFor="let dank of recentDanks">
                <app-danker-recents class="col" [dank]="dank"></app-danker-recents>                        
            </div>
        </div>
    </div>
</div>