<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="card-title">Elise Weber</h5>
            </div>
            <div class="col" style="text-align: right;">
                <h6 class="text-muted">10/20/20</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p>
            Hey Elise, I really appreciated the effort you made to help me identify the problem I faced. I had been struggling to get to the bottom of it.
            Even though it wasn't something you needed to worry about, your insights saved me hours. Thanks!
        </p>
    </div>
    <div class="card-footer">Simon Franks</div>
</div>